<% @trip.trails.each do |trail| %>
   <div class="trip-trails">
    Trail: <%= trail.name %>
    Address: <%= trail.address %>
    Length: <%= trail.length %>
   </div>
<% end %>

Total Planned Length:
<%= @trip.total_length %>
